$color-title: #0C0C0E;
$color-primary: #000000;
$color-accent: #BB945F;
$color-bg: #FFFFFF;
$color-grey: #8E8E8E;

%inter-400 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

%inter-800 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

%forum-400 {
  font-family: 'Forum', cursive;
  font-weight: 400;
}