.card {
  margin-bottom: 41px;

  @include media-tablet {
    margin-bottom: 38px;
  }
}

.card__inner {
  display: flex;
  justify-content: space-between;
  
  @include media-laptop {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.card__column:first-child {
  margin-right: auto;
  max-width: 600px;
  width: 100%;

  @include media-laptop {
    margin-right: 0;
  }
}

.card__subtitle {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 24px;
  @extend %inter-400;
}

.holder {
  border: 3px solid $color-accent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 17px 16px 17px;

  @include media-laptop {
    margin-bottom: 21px;
  }

  @include media-mobile {
    padding: 0px 0px 10px 0px;
    width: 100%;
  }
}

.holder__inner {
  padding: 20px 20px 25px 20px;
  background-color: $color-accent;
  margin-bottom: 15px;

  @include media-mobile {
    padding: 10px 10px 15px 10px;
  }
}

.holder__title {
  @extend %forum-400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;

  @include media-mobile {
    font-size: 22px;
    line-height: 120%;
  }
}

.holder__input {
  @extend %forum-400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  display: block;
  width: 100%;
  padding: 8px 20px;
  background-color: $color-white;
  border-radius: 10px;
  border: none;
  height: 66px;
  color: $color-accent;
  letter-spacing: 0.6px;
  outline: $color-accent;

  @include media-mobile {
    font-size: 22px;
    line-height: 120%;
    height: 40px;
  }

  &+.holder__input {
    margin-top: 25px;
  }

  &::placeholder {
    color: $color-grey;
    @extend %forum-400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;

    @include media-mobile {
      font-size: 22px;
      line-height: 120%;
    }
  }
}
.card__holder-btn {
  margin-top: 20px;
  margin-bottom: 14px;
}
.holder__btn {
  padding: 10px 40px;
  border-radius: 2px;
  border: 1px solid $color-title;
  background-color: $color-white;
  color: $color-title;
  @extend %inter-700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in;

  @media (hover: hover) {
    &:hover {
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }
}

.card__right-subtitle {
  line-height: 30px;
  @extend %forum-400;
  font-size: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
  text-align: right;

  @include media-laptop {
    text-align: center;
      margin-bottom: 40px;
  }
}

.card__text {
  max-width: 456px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 0.4px;
  margin-bottom: 35px;

  @include media-laptop {
    max-width: 600px;
    text-align: center;
  }
}

.card__auth-box {
  text-align: right;

  @include media-laptop {
    text-align: center;
  }
}

.card__auth {
  width: 75px;
  height: 30px;

  border-radius: 2px;
  border: 1px solid $color-title;
  color: $color-title;
  @extend %inter-700;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &+.card__auth {
    margin-left: 14px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }
}