.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in;
  &.sticky {
    padding-left: 20px;

    .legend {
        padding-top: 20px;
    }

    .inputs__box {
      margin-bottom: 10px;
    }
  }
}

.legend {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 20px;
  color: $color-primary;
  @extend %inter-700;
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: normal;
}

.inputs__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 720px;
  gap: 0 60px;
  margin-bottom: 29px;

    @media screen and (max-width: 730px) {
      gap: 0 10px;
  }
}

// .input__box {
  // @media screen and (max-width: 730px) {
  //   grid-column: span 4;
  // }
// }

.label {
  padding: 5px;
  cursor: pointer;

  &:first-child {
    margin-left: -5px;
  }
}

.label__name {
  @extend %inter-400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: normal;
}

.input:checked ~ .label__name {
  @extend %inter-700;
}

.input {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio {
  display: inline-block;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  margin-right: 20px;
  position: relative;
  letter-spacing: normal;
}

.input:checked+.radio::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: $color-primary;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab__content {
  padding-right: 40px;

  @include media-mobileLarge {
    padding-right: 0px;
  }
}

.tab__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  margin-bottom: 40px;
  column-gap: calc(100% - 1100px);
  grid-auto-columns: minmax(300px, auto);
  grid-auto-rows: minmax(555px, auto);
}

.tab__item {
  padding: 14px 170px 14px 20px;

  @media screen and (max-width: 1240px) {
    padding: 14px 160px 14px 20px;
    grid-column: span 2;
    margin-left: 69px;
    margin-right: 69px;
  }

  @include media-mobileLarge {
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.tab-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid $color-primary;
}

.tab-item__span {
  @extend %forum-400;
  line-height: 40px;
  letter-spacing: 2px;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: $color-accent;
  }

  @include media-mobile {
    margin-bottom: 10px;
  }
}

.tab-item__title {
  @extend %inter-700;
  margin-bottom: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 40px;

  @include media-mobileLarge {
    order: 1;
  }
  @include media-mobile {
    margin-bottom: 0px;
  }
}

.tab-item__title-span {
  @extend %inter-700;
  font-size: 15px;
  line-height: 40px;
  display: block;
  text-transform: uppercase;

  @include media-mobileLarge {
    order: 2;
  }

}

.tab-item__text {
  max-width: 355px;
  text-transform: capitalize;
  margin-bottom: 15px;
  line-height: 40px;
  flex-grow: 1;


  @include media-mobileLarge {
    order: 5;
    max-width: 100%;
  }

  @include media-mobile {
    font-size: 14px;
    line-height: 26px;
    text-transform: initial;
  }
}

.tab-item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 2px;
  border: 1px solid $color-title;
  color: $color-primary;
  font-size: 10px;
  line-height: 10px;
  @extend %inter-700;
  letter-spacing: 1px;
  max-width: 75px;
  flex-shrink: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;

  @media (hover: hover) {
    &:hover {
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }


  @include media-mobileLarge {
    order: 6;
  }
}

.tab-item__img-box {
  position: absolute;
  bottom: -1px;
  right: -40px;
  width: 200px;
  height: 300px;

  @include media-mobileLarge {
    position: static;
    margin: 10px auto;
    order: 4;
  }
}

.tab-item__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

// #spring-tab,
// #summer-tab,
// #autumn-tab {
//   display: none;
// }

.tab-item__btn.tab-item__btn--disabled {
  color: $color-accent;
  border-color: $color-accent;
  pointer-events: none;
}