html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

h1,
body,
h3,
h2,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: rgb(206, 198, 200);
  background-image: url('./assets/image/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 880px;
  padding: 20px;
  margin: 0 auto;
}

.field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


/*----------cards-----------*/
.card {
  border-radius: 20px;
  max-width: 160px;
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(189, 179, 179, 0.6);
}

.card.disabled {
  pointer-events: none;
  opacity: 0.9;
}