html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

h1,
body,
h3,
h2,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  min-height: 100vh;
  background-color: #cac3e0;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.container {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}
