@charset "UTF-8";
.card__subtitle, .label__name, .popup-auth__link, body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.card__auth, .holder__btn, .contacts__email, .contacts__mails, .contacts__phones, .tab-item__btn, .tab-item__title-span, .tab-item__title, .input:checked ~ .label__name, .legend, .popup-auth__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.card__right-subtitle, .holder__input::placeholder, .holder__input, .holder__title, .menu-shop__item-price, .menu-shop__title, .tab-item__span, .welcome__title, .header__title, .popup-login__title, .title {
  font-family: "Forum", cursive;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2"), url("../assets/fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2"), url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum.woff2") format("woff2"), url("../assets/fonts/Forum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

h1,
body,
h3,
h2,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  position: relative;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  line-height: 40px;
  color: #0C0C0E;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 21px;
  padding-top: 20px;
  margin-bottom: 40px;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
  margin: 0 auto;
}
@media (max-width: 484px) {
  .title {
    margin-bottom: 30px;
  }
}

.noscroll {
  overflow: hidden;
}

.hide {
  display: none;
}

.show-tab {
  display: grid;
}

.sticky {
  position: sticky;
  z-index: 120;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in;
}

.burger__line, .burger::after, .burger::before {
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  height: 2px;
  position: absolute;
  content: "";
  transition: all 0.3s ease-in;
}
@media (hover: hover) {
  .burger__line:hover, .burger:hover::after, .burger:hover::before {
    background-color: #BB945F;
  }
}

.burger {
  display: none;
  width: 45px;
  height: 20px;
  position: relative;
  top: 4px;
  z-index: 100;
  transition: all 0.3s;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media (max-width: 1020px) {
  .burger {
    display: inline-block;
  }
}
.burger::before {
  top: 0;
  left: 0;
}
.burger::after {
  bottom: 0;
  left: 0;
}
@media (hover: hover) {
  .burger:hover .burger__line {
    background-color: #BB945F;
  }
}

.burger__line {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.burger--active.burger::before {
  transform: translateY(-50%);
  top: 50%;
  transform: rotate(-45deg);
}

.burger--active.burger::after {
  transform: translateY(-50%);
  top: 50%;
  transform: rotate(45deg);
}

.burger--active .burger__line {
  display: none;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
}

.hide {
  display: none;
}

.shown {
  display: block;
}

.popup-auth {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}

.popup-auth__inner {
  position: absolute;
  right: 20px;
  background-color: #FFFFFF;
  z-index: 15;
  transform: scale(0);
  transition: transform 0.4s ease-in;
}

.popup-auth.user-nav--active {
  opacity: 1;
  visibility: visible;
}

.popup-auth.user-nav--active .popup-auth__inner {
  transform: scale(1);
}

.popup-auth__content {
  padding: 5px 10px 20px;
  text-align: center;
}

.popup-auth__title {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  padding-bottom: 5px;
  margin-bottom: 15px;
  position: relative;
}
.popup-auth__title::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 1px;
  background-color: #BB945F;
}

.popup-auth__link {
  display: block;
  letter-spacing: normal;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.3s ease-in;
}
.popup-auth__link + .popup-auth__link {
  margin-top: 10px;
}
.popup-auth__link:hover {
  color: #BB945F;
}

.popup-profile {
  display: none;
}

/*--------popup-login------------*/
.popup-login {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  z-index: 99;
  transition: all 0.3s ease-in;
}

.popup-login__inner {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  z-index: 15;
  padding: 20px 25px;
  transition: transform 0.4s ease-in;
}

.popup-login__title {
  color: #000000;
  text-align: center;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popup-login__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.popup-login__close:hover {
  opacity: 0.5;
}

.popup-login__close-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.popup-login__content {
  position: relative;
}

.popup-login__label {
  display: block;
  color: #000000;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  line-height: 133.333%;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}

.popup-login__input {
  border: 1px solid #BB945F;
  padding: 5px 10px;
  height: 20px;
  width: 100%;
  margin-top: 10px;
}

.popup-login__btn {
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;
  color: #0C0C0E;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.popup-login__btn:hover {
  background-color: #BB945F;
  border-color: #BB945F;
}

.popup-login__question {
  color: #000000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin-right: 10px;
  letter-spacing: 0;
}

.popup-login__link {
  color: #0C0C0E;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  transition: all 0.3s ease-in;
}
.popup-login__link:hover {
  color: #BB945F;
}

/*---------------------------*/
.popup-login__register-box {
  display: flex;
  align-items: center;
  text-align: left;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.header {
  background-color: #0C0C0E;
  padding: 20px 0;
}

.header-top {
  display: flex;
  align-items: center;
}
@media (max-width: 484px) {
  .header-top {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 1020px) {
  .header-top.header-top--active .menu__list {
    transform: translateX(0%);
    background-color: #0C0C0E;
  }
}

.header__title {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}
@media (max-width: 484px) {
  .header__title {
    width: 100vw;
    margin-bottom: 20px;
    font-size: 26px;
  }
}

.menu {
  margin-right: 40px;
  margin-left: auto;
}
@media (max-width: 1020px) {
  .menu {
    order: 3;
    margin-right: -4px;
    margin-left: 44px;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 1020px) {
  .menu__list {
    flex-direction: column;
    transform: translateX(100%);
    width: 332px;
    height: 570px;
    row-gap: 27px;
    background: #000000;
    padding: 100px 107px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.3s;
  }
}

.menu__item + .menu__item {
  padding-left: 30px;
}
@media (max-width: 1020px) {
  .menu__item + .menu__item {
    padding-left: 0;
    padding-top: 3px;
  }
}

.menu__link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: normal;
  transition: all 0.3s ease-in;
  padding-bottom: 3px;
  position: relative;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  transition: 0.3s ease-in;
  height: 1px;
  background-color: #BB945F;
  width: 0%;
}
@media (hover: hover) {
  .menu__link:hover {
    color: #BB945F;
  }
}
@media (hover: hover) {
  .menu__link:hover::before {
    width: 100%;
  }
}

.user-nav {
  opacity: 1;
  transition: all 0.3s ease-in;
}
@media (hover: hover) {
  .user-nav:hover {
    opacity: 0.7;
  }
}
@media (max-width: 1020px) {
  .user-nav {
    margin-left: auto;
    z-index: 11;
  }
}
@media (max-width: 484px) {
  .user-nav {
    margin-left: 0;
  }
}

.welcome {
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 50%), url(../assets/images/large-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 160px;
  padding-top: 220px;
}

.welcome__title-box {
  background-color: #0C0C0E;
  padding: 35px 40px;
  max-width: 600px;
  margin-left: -20px;
}
@media (max-width: 484px) {
  .welcome__title-box {
    padding: 35px 0;
    margin-left: 0;
  }
}

.welcome__title {
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 484px) {
  .welcome__title {
    font-size: 29px;
    line-height: 150%;
  }
}

.about__text {
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
  letter-spacing: 0;
}
@media (max-width: 484px) {
  .about__text {
    font-size: 16px;
    line-height: 150%;
  }
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.slider__inner {
  max-width: 1400px;
  overflow: hidden;
}
@media (max-width: 1020px) {
  .slider__inner {
    width: 925px;
  }
}
@media (max-width: 768px) {
  .slider__inner {
    width: 450px;
    margin: 0 56px;
  }
}
@media (max-width: 484px) {
  .slider__inner {
    padding: 0;
    margin: 0;
  }
}

.slider {
  margin-bottom: 35px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 16px);
  column-gap: 25px;
  /* начальная позиция для слайдера */
  left: 0;
  position: relative;
  /* анимация движения карточки */
  transition: all 0.5s ease-in-out;
}
@media (max-width: 1020px) {
  .slider {
    grid-auto-columns: 50%;
  }
}
@media (max-width: 768px) {
  .slider {
    grid-auto-columns: 100%;
    margin-bottom: 19px;
  }
}

.slider__item {
  max-width: 450px;
}

.slider__item-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__dot {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  position: relative;
}
.slider__dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
}

.slider__dot.slider__dot--active::after {
  background-color: #BB945F;
}

.arrow {
  display: none;
  min-width: 24px;
  height: 24px;
  transform: translateY(-10%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}
.arrow__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.arrow:disabled {
  pointer-events: none;
  opacity: 0.3;
}
@media (hover: hover) {
  .arrow:hover {
    opacity: 0.7;
    transform: scale(1.5);
  }
}
@media (max-width: 768px) {
  .arrow {
    display: block;
  }
}

.footer {
  background-color: #0C0C0E;
  padding: 20px 0 44px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  padding-bottom: 30px;
  border-bottom: 1px solid #FFFFFF;
  line-height: 20px;
  letter-spacing: normal;
}
@media (max-width: 768px) {
  .footer-top {
    padding-bottom: 28px;
  }
}

.footer__address {
  display: block;
  color: #FFFFFF;
  max-width: 229px;
  margin-bottom: 18px;
}

.footer__social {
  display: flex;
}

.footer__social-item {
  margin-right: 15px;
}

.footer__social-link {
  cursor: pointer;
}

.footer__work-time {
  color: #FFFFFF;
  max-width: 149px;
  text-align: end;
}
.footer__work-time + .footer__work-time {
  margin-top: 10px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
}
@media (max-width: 484px) {
  .footer-bottom {
    justify-content: center;
    font-size: 18px;
  }
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in;
}
.fieldset.sticky {
  padding-left: 20px;
}
.fieldset.sticky .legend {
  padding-top: 20px;
}
.fieldset.sticky .inputs__box {
  margin-bottom: 10px;
}

.legend {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 20px;
  color: #000000;
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: normal;
}

.inputs__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 720px;
  gap: 0 60px;
  margin-bottom: 29px;
}
@media screen and (max-width: 730px) {
  .inputs__box {
    gap: 0 10px;
  }
}

.label {
  padding: 5px;
  cursor: pointer;
}
.label:first-child {
  margin-left: -5px;
}

.label__name {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: normal;
}

.input {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio {
  display: inline-block;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid #000000;
  margin-right: 20px;
  position: relative;
  letter-spacing: normal;
}

.input:checked + .radio::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab__content {
  padding-right: 40px;
}
@media (max-width: 624px) {
  .tab__content {
    padding-right: 0px;
  }
}

.tab__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  margin-bottom: 40px;
  column-gap: calc(100% - 1100px);
  grid-auto-columns: minmax(300px, auto);
  grid-auto-rows: minmax(555px, auto);
}

.tab__item {
  padding: 14px 170px 14px 20px;
}
@media screen and (max-width: 1240px) {
  .tab__item {
    padding: 14px 160px 14px 20px;
    grid-column: span 2;
    margin-left: 69px;
    margin-right: 69px;
  }
}
@media (max-width: 624px) {
  .tab__item {
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.tab-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #000000;
}

.tab-item__span {
  line-height: 40px;
  letter-spacing: 2px;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative;
}
.tab-item__span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 1px;
  background-color: #BB945F;
}
@media (max-width: 484px) {
  .tab-item__span {
    margin-bottom: 10px;
  }
}

.tab-item__title {
  margin-bottom: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 40px;
}
@media (max-width: 624px) {
  .tab-item__title {
    order: 1;
  }
}
@media (max-width: 484px) {
  .tab-item__title {
    margin-bottom: 0px;
  }
}

.tab-item__title-span {
  font-size: 15px;
  line-height: 40px;
  display: block;
  text-transform: uppercase;
}
@media (max-width: 624px) {
  .tab-item__title-span {
    order: 2;
  }
}

.tab-item__text {
  max-width: 355px;
  text-transform: capitalize;
  margin-bottom: 15px;
  line-height: 40px;
  flex-grow: 1;
}
@media (max-width: 624px) {
  .tab-item__text {
    order: 5;
    max-width: 100%;
  }
}
@media (max-width: 484px) {
  .tab-item__text {
    font-size: 14px;
    line-height: 26px;
    text-transform: initial;
  }
}

.tab-item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #000000;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1px;
  max-width: 75px;
  flex-shrink: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media (hover: hover) {
  .tab-item__btn:hover {
    background-color: #BB945F;
    border-color: #BB945F;
  }
}
@media (max-width: 624px) {
  .tab-item__btn {
    order: 6;
  }
}

.tab-item__img-box {
  position: absolute;
  bottom: -1px;
  right: -40px;
  width: 200px;
  height: 300px;
}
@media (max-width: 624px) {
  .tab-item__img-box {
    position: static;
    margin: 10px auto;
    order: 4;
  }
}

.tab-item__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tab-item__btn.tab-item__btn--disabled {
  color: #BB945F;
  border-color: #BB945F;
  pointer-events: none;
}

.shop__text {
  color: #000000;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: justify;
  text-align-last: center;
  padding: 0 17px;
}
@media (max-width: 768px) {
  .shop__text {
    text-align: center;
    letter-spacing: 1.9px;
    padding: 0;
  }
}
@media (max-width: 484px) {
  .shop__text {
    font-size: 16px;
    line-height: 30px;
    padding: 0;
  }
}

.menu-shop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-shop__column {
  max-width: 482px;
  margin-bottom: 40px;
}
@media (max-width: 484px) {
  .menu-shop__column {
    width: 100%;
  }
}
.menu-shop__column:first-child {
  margin-right: 75px;
}
@media (max-width: 484px) {
  .menu-shop__column:first-child {
    margin-right: 0;
  }
}
.menu-shop__column:last-child {
  margin-left: auto;
  text-align: end;
}
@media (max-width: 484px) {
  .menu-shop__column:last-child {
    margin-left: 0;
  }
}

.menu-shop__title {
  color: #BB945F;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (max-width: 484px) {
  .menu-shop__title {
    text-align: center;
    font-size: 34px;
    line-height: 150%;
  }
}

.menu-shop__list {
  display: flex;
  flex-direction: column;
}

.menu-shop__item {
  display: flex;
  align-items: center;
}
.menu-shop__item + .menu-shop__item {
  margin-top: 40px;
}
@media (max-width: 484px) {
  .menu-shop__item + .menu-shop__item {
    margin-top: 20px;
  }
}

.menu-shop__item-name {
  font-size: 20px;
  text-transform: capitalize;
  margin-right: 60px;
}
@media (max-width: 484px) {
  .menu-shop__item-name {
    font-size: 16px;
    line-height: 30px;
    margin-right: 10px;
    text-align: left;
  }
}

.menu-shop__item-line {
  display: block;
  width: 100px;
  height: 1px;
  background-color: #BB945F;
  margin-right: 60px;
}
@media (max-width: 484px) {
  .menu-shop__item-line {
    width: 50px;
    margin-right: 30px;
  }
}

.left-column .menu-shop__item-line {
  margin-left: auto;
}

@media (max-width: 484px) {
  .right-column .menu-shop__item-line {
    margin-left: auto;
  }
}

.right-column .menu-shop__list {
  align-items: flex-end;
}
@media (max-width: 484px) {
  .right-column .menu-shop__list {
    align-items: stretch;
  }
}

.menu-shop__item-price {
  font-size: 20px;
  text-transform: capitalize;
}

.contacts__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  .contacts__inner {
    margin-bottom: 40px;
  }
}

@media (max-width: 1020px) {
  .contacts__item:first-child {
    margin-bottom: 80px;
  }
}
@media (max-width: 484px) {
  .contacts__item:first-child {
    margin-bottom: 5px;
  }
}
@media (max-width: 1020px) {
  .contacts__item:last-child {
    padding: 0 17px;
  }
}
@media (max-width: 484px) {
  .contacts__item:last-child {
    padding: 0;
  }
}
@media (max-width: 1020px) {
  .contacts__item {
    grid-column: span 2;
  }
}

.contacts__phones {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (max-width: 484px) {
  .contacts__phones {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.contacts__phone {
  font-size: 20px;
  text-transform: capitalize;
}
.contacts__phone + .contacts__phone {
  margin-top: 20px;
}
@media (max-width: 484px) {
  .contacts__phone + .contacts__phone {
    margin-top: 12px;
  }
}
@media (max-width: 484px) {
  .contacts__phone {
    font-size: 16px;
  }
}

.contacts__tel {
  transition: all 0.3s;
}
@media (hover: hover) {
  .contacts__tel:hover {
    color: #BB945F;
  }
}

.contacts__mails {
  padding-top: 40px;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media (max-width: 484px) {
  .contacts__mails {
    font-size: 16px;
  }
}

.contacts__mail {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media (max-width: 484px) {
  .contacts__mail {
    font-size: 16px;
  }
}

.contacts__email {
  transition: all 0.3s;
}
@media (hover: hover) {
  .contacts__email:hover {
    color: #BB945F;
  }
}

.contacts__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card {
  margin-bottom: 41px;
}
@media (max-width: 768px) {
  .card {
    margin-bottom: 38px;
  }
}

.card__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1020px) {
  .card__inner {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.card__column:first-child {
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
@media (max-width: 1020px) {
  .card__column:first-child {
    margin-right: 0;
  }
}

.card__subtitle {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 24px;
}

.holder {
  border: 3px solid #BB945F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 17px 30px 17px;
}
@media (max-width: 1020px) {
  .holder {
    margin-bottom: 21px;
  }
}
@media (max-width: 484px) {
  .holder {
    padding: 0px 0px 10px 0px;
    width: 100%;
  }
}

.holder__inner {
  padding: 20px 20px 25px 20px;
  background-color: #BB945F;
  margin-bottom: 20px;
}
@media (max-width: 484px) {
  .holder__inner {
    padding: 10px 10px 15px 10px;
  }
}

.holder__title {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
@media (max-width: 484px) {
  .holder__title {
    font-size: 22px;
    line-height: 120%;
  }
}

.holder__input {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  display: block;
  width: 100%;
  padding: 8px 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: none;
  height: 66px;
  color: #BB945F;
  letter-spacing: 0.6px;
  outline: #BB945F;
}
@media (max-width: 484px) {
  .holder__input {
    font-size: 22px;
    line-height: 120%;
    height: 40px;
  }
}
.holder__input + .holder__input {
  margin-top: 25px;
}
.holder__input::placeholder {
  color: #8E8E8E;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}
@media (max-width: 484px) {
  .holder__input::placeholder {
    font-size: 22px;
    line-height: 120%;
  }
}

.holder__btn {
  padding: 10px 40px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFFFFF;
  color: #0C0C0E;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media (hover: hover) {
  .holder__btn:hover {
    background-color: #BB945F;
    border-color: #BB945F;
  }
}

.card__right-subtitle {
  line-height: 30px;
  font-size: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
  text-align: right;
}
@media (max-width: 1020px) {
  .card__right-subtitle {
    text-align: center;
    margin-bottom: 40px;
  }
}

.card__text {
  max-width: 456px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 0.4px;
  margin-bottom: 35px;
}
@media (max-width: 1020px) {
  .card__text {
    max-width: 600px;
    text-align: center;
  }
}

.card__auth-box {
  text-align: right;
}
@media (max-width: 1020px) {
  .card__auth-box {
    text-align: center;
  }
}

.card__auth {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.card__auth + .card__auth {
  margin-left: 14px;
}
@media (hover: hover) {
  .card__auth:hover {
    background-color: #BB945F;
    border-color: #BB945F;
  }
}

/*# sourceMappingURL=style.css.map */
