body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.contacts__email, .contacts__mails, .contacts__phones, .tab-item__btn, .tab-item__title, .legend {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.menu-shop__item-price, .menu-shop__title, .welcome__title, .title {
  font-family: "Forum", cursive;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2"), url("../assets/fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2"), url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum.woff2") format("woff2"), url("../assets/fonts/Forum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

h1,
body,
h3,
h2,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  line-height: 40px;
  color: #0C0C0E;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 21px;
  padding-top: 20px;
  margin-bottom: 40px;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
  margin: 0 auto;
}
@media (max-width: 484px) {
  .title {
    margin-bottom: 30px;
  }
}

.noscroll {
  overflow: hidden;
}

.burger__line, .burger::after, .burger::before {
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  height: 2px;
  position: absolute;
  content: "";
  transition: all 0.3s ease-in;
}
.burger__line:hover, .burger:hover::after, .burger:hover::before {
  background-color: #BB945F;
}

.burger {
  display: none;
  width: 45px;
  height: 20px;
  position: relative;
  top: 4px;
  z-index: 100;
  transition: all 0.3s;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media (max-width: 1020px) {
  .burger {
    display: inline-block;
  }
}
.burger::before {
  top: 0;
  left: 0;
}
.burger::after {
  bottom: 0;
  left: 0;
}
.burger:hover .burger__line {
  background-color: #BB945F;
}

.burger__line {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.burger--active.burger::before {
  transform: translateY(-50%);
  top: 50%;
  transform: rotate(-45deg);
}

.burger--active.burger::after {
  transform: translateY(-50%);
  top: 50%;
  transform: rotate(45deg);
}

.burger--active .burger__line {
  display: none;
}

.header {
  background-color: #0C0C0E;
  padding: 20px 0;
}

.header-top {
  display: flex;
  align-items: center;
}
@media (max-width: 484px) {
  .header-top {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 1020px) {
  .header-top.header-top--active .menu__list {
    transform: translateX(0%);
  }
}

@media (max-width: 484px) {
  .logo {
    width: 100vw;
    margin-bottom: 20px;
  }
}

.menu {
  margin-right: 40px;
  margin-left: auto;
}
@media (max-width: 1020px) {
  .menu {
    order: 3;
    margin-right: 0;
    margin-left: 40px;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 1020px) {
  .menu__list {
    flex-direction: column;
    transform: translateX(100%);
    width: 332px;
    height: 570px;
    row-gap: 27px;
    background: #000;
    padding: 100px 107px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.3s;
  }
}

.menu__item + .menu__item {
  padding-left: 30px;
}
@media (max-width: 1020px) {
  .menu__item + .menu__item {
    padding-left: 0;
  }
}

.menu__link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: normal;
  transition: all 0.3s ease-in;
  padding-bottom: 3px;
  position: relative;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  transition: 0.3s ease-in;
  height: 1px;
  background-color: #BB945F;
  width: 0%;
}
.menu__link:hover {
  color: #BB945F;
}
.menu__link:hover::before {
  width: 100%;
}

@media (max-width: 1020px) {
  .user-nav {
    margin-left: auto;
    z-index: 11;
  }
}
@media (max-width: 484px) {
  .user-nav {
    margin-left: 0;
  }
}

.welcome {
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%), url(../assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 160px;
  padding-top: 220px;
}

.welcome__title-box {
  background-color: #0C0C0E;
  padding: 35px 40px;
  max-width: 600px;
  margin-left: -20px;
}
@media (max-width: 484px) {
  .welcome__title-box {
    padding: 35px 0;
    margin-left: 0;
  }
}

.welcome__title {
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 484px) {
  .welcome__title {
    font-size: 29px;
    line-height: 150%;
  }
}

.about__text {
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
  letter-spacing: 0;
}
@media (max-width: 484px) {
  .about__text {
    font-size: 16px;
    line-height: 150%;
  }
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.slider-inner {
  width: 1400px;
  overflow: hidden;
}
@media (max-width: 1020px) {
  .slider-inner {
    width: 925px;
  }
}
@media (max-width: 768px) {
  .slider-inner {
    width: 450px;
    padding: 0 58px;
    margin: 0 56px;
  }
}
@media (max-width: 484px) {
  .slider-inner {
    padding: 0;
    margin: 0;
  }
}

.slider {
  display: flex;
  position: relative;
  width: 300%;
  margin-bottom: 40px;
}

.items {
  position: relative;
  display: flex;
  column-gap: 25px;
}

.item {
  width: 450px;
  height: 560px;
}

.item__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
  cursor: pointer;
  padding: 5px;
}
.slider__dot + .slider__dot {
  margin-left: 10px;
}
.slider__dot:first-child {
  background-color: #BB945F;
}

.footer {
  background-color: #0C0C0E;
  padding: 20px 0 44px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  padding-bottom: 30px;
  border-bottom: 1px solid #FFFFFF;
  line-height: 20px;
  letter-spacing: normal;
}

.footer__address {
  color: #FFFFFF;
  max-width: 229px;
  margin-bottom: 18px;
}

.footer__social {
  display: flex;
}

.footer__social-item {
  margin-right: 15px;
}

.footer__social-link {
  cursor: pointer;
}

.footer__work-time {
  color: #FFFFFF;
  max-width: 149px;
  text-align: end;
}
.footer__work-time + .footer__work-time {
  margin-top: 10px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
}
@media (max-width: 484px) {
  .footer-bottom {
    justify-content: center;
    font-size: 18px;
  }
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.legend {
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #000000;
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: normal;
}
.legend + * {
  clear: both;
}

.inputs__box {
  display: flex;
  margin-bottom: 40px;
}

.input__box + .input__box {
  margin-left: 90px;
}

.label {
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}

.input {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio {
  display: inline-block;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid #000000;
  margin-right: 20px;
  position: relative;
}

.input:checked + .radio::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab__content {
  padding-right: 40px;
}

.tab__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 260px;
  margin-bottom: 40px;
}

.tab__item {
  padding: 15px 175px 15px 20px;
}

.tab-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #000000;
}

.tab-item__span {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-bottom: 8px;
  position: relative;
}
.tab-item__span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 1px;
  background-color: #BB945F;
}

.tab-item__title {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.tab-item__title-span {
  display: block;
  text-transform: uppercase;
}

.tab-item__text {
  max-width: 355px;
  text-transform: capitalize;
  margin-bottom: 15px;
  line-height: 40px;
  flex-grow: 1;
}

.tab-item__btn {
  padding: 9px 27px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #000000;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1px;
  max-width: 75px;
  flex-shrink: 0;
}

.tab-item__img-box {
  position: absolute;
  bottom: -1px;
  right: -40px;
  width: 200px;
  height: 300px;
}

.tab-item__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#spring-tab,
#summer-tab,
#autumn-tab {
  display: none;
}

.shop__text {
  color: #000000;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: justify;
  text-align-last: center;
  padding: 0 17px;
}
@media (max-width: 484px) {
  .shop__text {
    font-size: 16px;
    line-height: 30px;
    padding: 0;
  }
}

.menu-shop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-shop__column {
  max-width: 482px;
  margin-bottom: 40px;
}
@media (max-width: 484px) {
  .menu-shop__column {
    width: 100%;
  }
}
.menu-shop__column:first-child {
  margin-right: 75px;
}
@media (max-width: 484px) {
  .menu-shop__column:first-child {
    margin-right: 0;
  }
}
.menu-shop__column:last-child {
  margin-left: auto;
  text-align: end;
}
@media (max-width: 484px) {
  .menu-shop__column:last-child {
    margin-left: 0;
  }
}

.menu-shop__title {
  color: #BB945F;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (max-width: 484px) {
  .menu-shop__title {
    text-align: center;
    font-size: 34px;
    line-height: 150%;
  }
}

.menu-shop__list {
  display: flex;
  flex-direction: column;
}

.menu-shop__item {
  display: flex;
  align-items: center;
}
.menu-shop__item + .menu-shop__item {
  margin-top: 40px;
}
@media (max-width: 484px) {
  .menu-shop__item + .menu-shop__item {
    margin-top: 20px;
  }
}

.menu-shop__item-name {
  font-size: 20px;
  text-transform: capitalize;
  margin-right: 60px;
}
@media (max-width: 484px) {
  .menu-shop__item-name {
    font-size: 16px;
    line-height: 30px;
    margin-right: 10px;
    text-align: left;
  }
}

.menu-shop__item-line {
  display: block;
  width: 100px;
  height: 1px;
  background-color: #BB945F;
  margin-right: 60px;
}
@media (max-width: 484px) {
  .menu-shop__item-line {
    width: 50px;
    margin-right: 30px;
  }
}

.left-column .menu-shop__item-line {
  margin-left: auto;
}

@media (max-width: 484px) {
  .right-column .menu-shop__item-line {
    margin-left: auto;
  }
}

.right-column .menu-shop__list {
  align-items: flex-end;
}
@media (max-width: 484px) {
  .right-column .menu-shop__list {
    align-items: stretch;
  }
}

.menu-shop__item-price {
  font-size: 20px;
  text-transform: capitalize;
}

.contacts__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
}

@media (max-width: 1020px) {
  .contacts__item:first-child {
    margin-bottom: 80px;
  }
}
@media (max-width: 484px) {
  .contacts__item:first-child {
    margin-bottom: 5px;
  }
}
@media (max-width: 1020px) {
  .contacts__item:last-child {
    padding: 0 17px;
  }
}
@media (max-width: 484px) {
  .contacts__item:last-child {
    padding: 0;
  }
}
@media (max-width: 1020px) {
  .contacts__item {
    grid-column: span 2;
  }
}

.contacts__phones {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (max-width: 484px) {
  .contacts__phones {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.contacts__phone {
  font-size: 20px;
  text-transform: capitalize;
}
.contacts__phone + .contacts__phone {
  margin-top: 20px;
}
@media (max-width: 484px) {
  .contacts__phone + .contacts__phone {
    margin-top: 12px;
  }
}
@media (max-width: 484px) {
  .contacts__phone {
    font-size: 16px;
  }
}

.contacts__tel {
  transition: all 0.3s;
}
.contacts__tel:hover {
  color: #BB945F;
}

.contacts__mails {
  padding-top: 40px;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media (max-width: 484px) {
  .contacts__mails {
    font-size: 16px;
  }
}

.contacts__mail {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media (max-width: 484px) {
  .contacts__mail {
    font-size: 16px;
  }
}

.contacts__email {
  transition: all 0.3s;
}
.contacts__email:hover {
  color: #BB945F;
}

.contacts__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
