.popup-auth {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba($color: $color-primary, $alpha: 0.3);
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}

.popup-auth__inner {
  position: absolute;
  right: 20px;
  background-color: $color-white;
  z-index: 15;

  transform: scale(0);
  transition: transform 0.4s ease-in;
}
.popup-auth.user-nav--active {
  opacity: 1;
  visibility: visible;
}
.popup-auth.user-nav--active .popup-auth__inner{
  transform: scale(1);
}

.popup-auth__content {
  padding: 5px 10px 20px;
  text-align: center; 
}

.popup-auth__title {
  @extend %inter-700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  padding-bottom: 5px;
  margin-bottom: 15px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 1px;
    background-color: $color-accent;
  }
}

.popup-auth__link {
  display: block;
  letter-spacing: normal;
  @extend %inter-400;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.3s ease-in;

  &+.popup-auth__link {
    margin-top: 10px;
  }

  &:hover {
    color: $color-accent;
  }
}

.popup-profile {
  display: none;
}
