html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

h1,
body,
h3,
h2,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  min-height: 100vh;
  background-color: #332852;
}

.player {
  margin-top: 40px;
}

.container {
  max-width: 375px;
  padding: 0;
  margin: 0 auto;
}
.player__inner {
  background-image: url('./assets/image/bg.jpg');
  background-repeat: no-repeat;
  border-radius: 34px;
  padding: 50px 24px;
}
.player__img-box {
  max-width: 266px;
  height: 268px;
  margin-bottom: 42px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.player__img {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.player__title-author {
  color: #F4EFEF;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 4px;
}

.player__title-sound {
  color: #ABABAB;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 10px;
}

.progress-bar__range {
  appearance: none;
  outline: none;
  display: block;
  max-width: 326px;
  width: 100%;
  height: 11px;
  background-color: rgba(122, 81, 226, 0.22);
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(208, 193, 245, 1);
  overflow: hidden;
  cursor: pointer;
}

.progress-bar__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  background: rgb(181, 151, 151);
  border: 2px solid #2E2E2E;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -333px 0 0 326px #7A51E2;
}

.progress-bar__range::-moz-range-thumb {
  width: 11px;
  height: 11px;
  background: #7A51E2;
  cursor: pointer;
}

.progress-bar__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar__current-time {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.60);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.progress-bar__full-time {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.60);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.player__buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.prev,
.next {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in;
  opacity: 1;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  opacity: 0.6;
}

.prev:active,
.next:active{
  transform: scale(0.9);
}

.play {
  background: transparent;
  border: transparent;
}

.play__img {
  transition: all 0.3s ease-in;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.play__img:hover {
  box-shadow: 0px 4px 4px 4px rgba(122, 61, 226, 0.2);
}

.play__img:active{
  transform: scale(0.9);
}
